# LAMBDA EXPRESSIONS MAP AND FILTER
******************************************************************************************************
* Basically just one time use functions that you don't even really name you just use them one time and then never reference again
 * To understand why this is useful and in what context you'd use this you first need to talk about
 * 1. the map function that built into python as well as the filter function's that built into python

In [1]:
def square(num):
    return num**2

In [2]:
my_nums = [1,2,3,4,5]

# MAP FUNCTION

In [3]:
map(square,my_nums)

In [4]:
for item in map(square,my_nums):
    print(item)

1
4
9
16
25

* ANOTHER WAY TO SOLVE THE PROBLEM IS

In [6]:
list(map(square,my_nums))

[1, 4, 9, 16, 25]

In [7]:
def splicer(mystring):
    if len(mystring)%2 ==0:
        return 'EVEN'
    else:
        return mystring[0]

In [29]:
name = ['Andy','Eve','Sally']

In [9]:
splicer(name)

'Andy'

In [12]:
list(map(splicer,name))

['EVEN', 'E', 'S']

# FILTER FUCNTION

In [4]:
def check_even(num):
    return num%2 ==0

In [7]:
mynums = [1,2,3,4,5,6]

In [19]:
filter(check_even,mynums)

In [9]:
list(filter(check_even,mynums))

[2, 4, 6]

# ANOTHER WAY TO SOLVE

In [10]:
for n in filter(check_even,mynums):
    print(n)

2
4
6

# LAMBDA FUNCTIN

In [11]:
def square(num):
    result = num **2
    return result

In [12]:
square(3)

9

In [13]:
def square(num):
    return num **2

In [14]:
square(3)

9

In [15]:
def square(num): return num **2

In [16]:
square(3)

9

In [18]:
square = lambda num: num **2

In [20]:
square(5)

25

In [23]:
list(map(lambda num:num**2,mynums))

[1, 4, 9, 16, 25, 36]

In [26]:
list(filter(lambda num:num%2==0,mynums))

[2, 4, 6]

In [30]:
name

['Andy', 'Eve', 'Sally']

In [38]:
list(map(lambda x:x[0],name))

['A', 'E', 'S']

In [39]:
list(map(lambda x:x[::-1],name))

['ydnA', 'evE', 'yllaS']

* Example - 1
write a function that check whether a number is a given range(inclusive of high and low)

In [24]:
def vol(rad):
    aa= float(rad)
    aa = 1.33333333333333*3.14159*aa**3
    return aa

In [25]:
vol(10)

4188.786666666656

* Example - 2
* write a function that check whether a number is in given range (inclusive or high and low)
* ran_bool(3,1,10)

In [9]:
def ran_bool(num,low,high):
    if num in range(low,high):
        return True
    else:
        return False

In [13]:
ran_bool(11,1,10)

False

* Write a Python functin that accepts a string and calculate the number of upper case letter and lower case letters.

* Sample String : 'Hello Mr. rogers, how are you this fine Tuesday?'
* No. of Upper case characters : 4
* No. of Lower case Characters : 33

In [27]:
def up_low(s):
    y=0
    z=0
    cnt=0
    myset = []
    for x in s:
        myset.append(x)
        if myset[cnt].isupper():
            print(myset[cnt].isspace())
            y=y+1
            cnt = cnt + 1
        else :
            z = z +1
    print(f'No. of Upper case characters :{y}')
#    print(y)
    print(f'No. of Lower case Characters :{z}')    
#    print(z)
#    print(myset)
    return

In [28]:
up_low('Hello Mr. rogers, how are you this fine Tuesday?')

False
False
False
No. of Upper case characters :3
No. of Lower case Characters :45

In [12]:
' '.isspace()

True

* Write a Python function that takes a list and returns a new list with unique elements of the first list.
* Sample list :[1,1,1,1,2,2,3,3,3,3,4,5]
* Unique list :[1,2,3,4]

In [31]:
def unique_list(*args):
    mlst = []
    return set(args)

In [32]:
unique_list(1,1,1,1,2,2,3,3,3,3,4,5)

{1, 2, 3, 4, 5}

* Write a python functin to multiply all the numbers in a list.
* Sample list : [1,2,3,-4]
* Expected Output : -24

* def multiply(numbers):

In [30]:
def multiply(a,b,c,d):
    return a * b * c * d

In [32]:
multiply(1,2,3,-4)

-24

In [33]:
def multiply(numbers):
    total = numbers[0]
    for x in numbers:
        total *= x
    return total

In [35]:
multiply([1,2,3,-4])

-24

* Write a Python function that checks whether a passed string is palindrome or not.
* Note: A Palindrome is word, phrase, or sequence that read the same backward as forward
* e.g., madam or nurses run.

In [44]:
def palindrome(s):
#   s[::-1] mean reverse string    
    return s == s[::-1]

In [43]:
palindrome('dad')

True

* Write a Python function that checks whether a string is pangram or not.
* Note : Pangrams are words or sentence containing every letter of the alphabet at least once.
* For example : "The quick brown fox jumps over the lazy dog"

In [47]:
import string
def ispangram(str1,alphabet=string.ascii_lowercase):
    alphaset=set(alphabet)
    return alphaset<= set(str1.lower())

In [49]:
ispangram("The quick brown fox jumps over the lazy dog")

True